<main style="background: green; border: 5px solid lightgreen; margin: 5px; padding: 5px; font-size: 20px; font-family: Times-New Roman; font-weight: 600px; border-radius: 5px; width: fit-content;">
  <Header>Thank you for Joining Driving School.</Header>
  <body>
    <p>Hope you have a great day.</p>
    <p>Regards,</p>
    <p>{{SMTP_USERNAME}}</p>
  </body>
</main>
{{! Language: handlebars }}
{{! Path: src\templetes\email.hbs }}    