<div style="background: green; border: 5px solid lightgreen; margin: 5px; padding: 5px; font-size: 20px; font-family: Times-New Roman; font-weight: 600px; border-radius: 5px; width: fit-content;">
  <h3>Thank you for Joining Driving School.</h3>
  <div>
    <p>Hope you have a great day.</p>
    <p>Regards,</p>
    <p>{{SMTP_USERNAME}}</p>
  </div>
</div>
{{! Language: handlebars }}
{{! Path: src\templetes\email.hbs }}    